---
import DirectorsDisplay from '../components/DirectorsDisplay.astro';
import Hero from '../components/Hero.astro';
import TextPicture from '../components/TextPicture.astro';
import Layout from '../layouts/Layout.astro';

const getAbout = async () => {
	try {
		const response = await fetch('http://localhost:3000/api/pages/6429bf116e68f0ff93c2c9b2');
		const data = await response.json();
		return data;
	} catch (err) {

	}
}

---

<Layout title="About">
	<main class="md:mx-auto">
		
		{
		getAbout().then((data) => data.blocks.map((block:any) => {
			switch (block.blockType) {
				case 'Hero':
					return <Hero heroHeader={block.heroHeadline} heroText={block.heroText} heroBackgroundImage={block.heroBackgroundImage} buttonText={block.buttonText} buttonLink={block.buttonLink}/>
				case 'DirectorsDisplay':
					return <DirectorsDisplay/>
				case 'TextPicture':
					return <TextPicture headline={block.headline} text={block.text} image={block.image}/>
				default:
					break;
			}
		}))
		}
	</main>
</Layout>

<style lang="css">
    [astro-icon] {
        color: black;
		width: 20px;
    }
</style>